---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/awesome-tests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '66'
      X-Dropbox-Request-Id:
      - d48a1407965af2fac7bcde2a4b98264f
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - a72535ed413810a975912dde6d331f95
    body:
      encoding: UTF-8
      string: '{"hash": "70cab8639ace85f6298de226225c5fe5", "revision": 2, "rev":
        "21f47d8b3", "thumb_exists": false, "bytes": 0, "modified": "Mon, 10 Feb 2014
        18:11:20 +0000", "path": "/awesome-tests", "is_dir": true, "icon": "folder",
        "root": "dropbox", "contents": [{"revision": 50, "rev": "321f47d8b3", "thumb_exists":
        false, "bytes": 12, "modified": "Mon, 10 Feb 2014 19:03:51 +0000", "client_mtime":
        "Mon, 10 Feb 2014 19:03:51 +0000", "path": "/awesome-tests/delta-test-bar.txt",
        "is_dir": false, "icon": "page_white_text", "root": "dropbox", "mime_type":
        "text/plain", "size": "12 bytes"}, {"revision": 47, "rev": "2f1f47d8b3", "thumb_exists":
        false, "bytes": 9, "modified": "Mon, 10 Feb 2014 19:03:45 +0000", "client_mtime":
        "Mon, 10 Feb 2014 19:03:45 +0000", "path": "/awesome-tests/delta-test-foo.txt",
        "is_dir": false, "icon": "page_white_text", "root": "dropbox", "mime_type":
        "text/plain", "size": "9 bytes"}], "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:28:54 GMT
recorded_with: VCR 2.8.0
